In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [2]:
os.listdir()
file = 'PGA_Stats_20201111.xlsx'

In [3]:
dfs = pd.read_excel(file, sheet_name=None)

In [4]:
len(dfs.keys())

62

In [5]:
for key, value in dfs.items():
    print(key)

Names
MasterPlayers
DrivDist
DrivDist2
DrivCover
DrivAcc
DrivFair
DrivGood
ShotGain
GIR
GFIR
GIRFair
GIROther
Prox
ProxFair
Prox125
Prox150
Prox175
Prox200
Prox200plus
ProxRough
GoGreen
GoGreenAcc
GoGreenDist
GoGreenProx
AppDist
ShotARG
SandSave
Scram
ScramSand
ScramRough
ScramFair
ScramOther
ARG
ARGsand
ARGrough
ARGfair
ARGother
Putt5
Putt10
Putt15
Putt20
Putt25
Putt25plus
Putt5to15
Putt15to25
PuttAvg
PuttTotal
DriveGain
AppGain
ArgGain
PuttGain
TotalGain
ScoreAvg
ScoreAvgAct
ScorePar3
ScorePar4
ScorePar5
Top10
YearMoney
CareerMoney
WorldRank

### Driving Stats

In [6]:
DrivDist = dfs['DrivDist'][['PLAYER NAME', 'AVG.']].rename(columns={'AVG.':'DrivDist'})

In [7]:
DrivAcc = dfs['DrivAcc'][['PLAYER NAME', '%']].rename(columns={'%':'DrivAcc'})

### Approach Stats

In [8]:
GIR = dfs['GIR'][['PLAYER NAME', '%']].rename(columns={'%':'GIR'})

Function required to calculate a numeric value for feet and inches that entered as string in previous text

In [9]:
def feet_breakout(list):
    new_list = []
    for i in list:
        i = i.split()
        feet = int(i[0].replace("'", ""))
        inch = int(i[1].replace('"', ''))
        inch = inch / 12
        y = round(feet + inch, 2)
        new_list.append(y)
    return new_list

In [10]:
Prox = dfs['Prox'][['PLAYER NAME', 'AVG']].rename(columns={'AVG':'Prox'})
Prox['Prox'] = feet_breakout(Prox['Prox'])

In [11]:
Prox125 = dfs['Prox125'][['PLAYER NAME', 'AVG']].rename(columns={'AVG':'Prox125'})
Prox125['Prox125'] = feet_breakout(Prox125['Prox125'])

In [12]:
Prox150 = dfs['Prox150'][['PLAYER NAME', 'AVG']].rename(columns={'AVG':'Prox150'})
Prox150['Prox150'] = feet_breakout(Prox150['Prox150'])

In [13]:
Prox175 = dfs['Prox175'][['PLAYER NAME', 'AVG']].rename(columns={'AVG':'Prox175'})
Prox175['Prox175'] = feet_breakout(Prox175['Prox175'])

In [14]:
Prox200 = dfs['Prox200'][['PLAYER NAME', 'AVG']].rename(columns={'AVG':'Prox200'})
Prox200['Prox200'] = feet_breakout(Prox200['Prox200'])

In [15]:
Prox200plus = dfs['Prox200plus'][['PLAYER NAME', 'AVG']].rename(columns={'AVG':'Prox200plus'})
Prox200['Prox200plus'] = feet_breakout(Prox200plus['Prox200plus'])

In [16]:
GoGreenAcc = dfs['GoGreenAcc'][['PLAYER NAME', '%']].rename(columns={'%':'GoGreenAcc'})

In [17]:
GoGreenProx = dfs['GoGreenProx'][['PLAYER NAME', 'AVG']].rename(columns={'AVG':'GoGreenProx'})

### Around the Green

In [18]:
SandSave = dfs['SandSave'][['PLAYER NAME', '%']].rename(columns={'%':'SandSave'})

In [19]:
Scram = dfs['Scram'][['PLAYER NAME', '%']].rename(columns={'%':'Scram'})

In [20]:
ARG = dfs['ARG'][['PLAYER NAME', 'AVG DTP']].rename(columns={'AVG DTP':'ARG'})
ARG['ARG'] = feet_breakout(ARG['ARG'])

### Putting

In [21]:
Putt5 = dfs['Putt5'][['PLAYER NAME', '%']].rename(columns={'%':'Putt5'})

In [22]:
Putt5to15 = dfs['Putt5to15'][['PLAYER NAME', '% MADE']].rename(columns={'% MADE':'Putt5to15'})

In [23]:
Putt15to25 = dfs['Putt15to25'][['PLAYER NAME', '% MADE']].rename(columns={'% MADE':'Putt15to25'})

In [24]:
Putt25plus = dfs['Putt25plus'][['PLAYER NAME', '% MADE']].rename(columns={'% MADE':'Putt25plus'})

### Shots Gained

In [25]:
DriveGain = dfs['DriveGain'][['PLAYER NAME', 'AVERAGE']].rename(columns={'AVERAGE':'DriveGain'})

In [26]:
AppGain = dfs['AppGain'][['PLAYER NAME', 'AVERAGE']].rename(columns={'AVERAGE':'AppGain'})

In [27]:
ArgGain = dfs['ArgGain'][['PLAYER NAME', 'AVERAGE']].rename(columns={'AVERAGE':'ArgGain'})

In [28]:
PuttGain = dfs['PuttGain'][['PLAYER NAME', 'AVERAGE']].rename(columns={'AVERAGE':'PuttGain'})

In [29]:
TotalGain = dfs['TotalGain'][['PLAYER NAME', 'AVERAGE']].rename(columns={'AVERAGE':'TotalGain'})

### Scoring

In [30]:
ScoreAvg = dfs['ScoreAvg'][['PLAYER NAME', 'AVG']].rename(columns={'AVG':'ScoreAvg'})

In [31]:
ScorePar3 = dfs['ScorePar3'][['PLAYER NAME', 'AVG']].rename(columns={'AVG':'ScorePar3'})

In [32]:
ScorePar4 = dfs['ScorePar4'][['PLAYER NAME', 'AVG']].rename(columns={'AVG':'ScorePar4'})

In [33]:
ScorePar5 = dfs['ScorePar5'][['PLAYER NAME', 'AVG']].rename(columns={'AVG':'ScorePar5'})

In [34]:
Top10 = dfs['Top10'][['PLAYER NAME', 'TOP 10', '1ST', '2ND', '3RD']].fillna(0)
Top10['Top3'] = Top10[['1ST', '2ND', '3RD']].sum(axis=1)
Top10 = Top10.drop(columns=['2ND', '3RD']).rename(columns={'TOP 10':'Top10', '1ST':'Wins'})

### Money & World Ranking

In [35]:
YearMoney = dfs['YearMoney'][['PLAYER NAME', 'MONEY']].rename(columns={'MONEY':'YearMoney'})

In [36]:
CareerMoney = dfs['YearMoney'][['PLAYER NAME', 'MONEY']].rename(columns={'MONEY':'CareerMoney'})

In [37]:
WorldRank = dfs['WorldRank'][['PLAYER NAME', 'RANK THIS WEEK', 'AVG POINTS']].rename(columns={'RANK THIS WEEK':'WorldRank', 'AVG POINTS':'WorldRankPoints'})

### Player Names

In [38]:
Players = dfs['MasterPlayers'].rename(columns={'PLAYER':'PLAYER NAME'})

### Merging

In [39]:
from functools import reduce

pga_stat_df = [DrivDist, DrivAcc, GIR, Prox, SandSave, Scram, ARG, Putt5, Putt5to15, Putt15to25, Putt25plus, DriveGain, AppGain, ArgGain, PuttGain, TotalGain, ScoreAvg, ScorePar3, ScorePar4, ScorePar5, Top10, YearMoney, WorldRank]

PGA_data = reduce(lambda  left,right: pd.merge(left,right,on='PLAYER NAME', how='left'), pga_stat_df)

In [46]:
#PGA_data.info()
#PGA_data.head()

### NaN values

I will fill in 0 values for people with NaNs in the performance columns of 'Top10', 'Top3' and 'Wins'.

In [42]:
PGA_data[['Top10', 'Top3', 'Wins']] = PGA_data[['Top10', 'Top3', 'Wins']].fillna(0)

#PGA_data = PGA_data.fillna({'Top10':0, 'Top3':0, 'Wins':0}, inplace=True)

In [47]:
#PGA_data.info()
#PGA_data.head()

There are 91 rows that contain null values. I will wait until after I merge with the Players list for Masters to see if need to delete rows or not

In [48]:
#PGA_data[PGA_data.isna().any(axis=1)]

### Merge Master Playing Field

In [54]:
Players['PLAYER NAME']
#PGA_data['PLAYER NAME']

0       Corey Conners
1        Lucas Glover
2           Yuxin Lin
3          Sandy Lyle
4     Cheng Tsung Pan
            ...
87        Justin Rose
88       James Sugrue
89         Sungjae Im
90       Victor Perez
91       Brendon Todd
Name: PLAYER NAME, Length: 92, dtype: object

In [57]:
#Players[Players['PLAYER NAME'] == 'Jason Day']
#PGA_data[PGA_data['PLAYER NAME'] == 'Jason Day']

Players Field needs to cleaned on Player df to allow merge with PGA_data df.

In [60]:
Players['PLAYER NAME'] = Players['PLAYER NAME'].apply(lambda x : x.strip())

In [62]:
masters_data = pd.merge(Players, PGA_data, how='left', on='PLAYER NAME')

### Master Dataset Review & Export

In [63]:
masters_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 92 entries, 0 to 91
Data columns (total 30 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   PLAYER NAME      92 non-null     object
 1   OVERALL          92 non-null     object
 2   TEE TIME         92 non-null     object
 3   ODDS             92 non-null     int64
 4   DrivDist         77 non-null     float64
 5   DrivAcc          77 non-null     float64
 6   GIR              77 non-null     float64
 7   Prox             77 non-null     float64
 8   SandSave         77 non-null     float64
 9   Scram            77 non-null     float64
 10  ARG              77 non-null     float64
 11  Putt5            77 non-null     float64
 12  Putt5to15        77 non-null     float64
 13  Putt15to25       76 non-null     float64
 14  Putt25plus       77 non-null     float64
 15  DriveGain        77 non-null     float64
 16  AppGain          77 non-null     float64
 17  ArgGain          77 non-null     float64
 18  PuttGain         77 non-null     float64
 19  TotalGain        77 non-null     float64
 20  ScoreAvg         72 non-null     float64
 21  ScorePar3        77 non-null     float64
 22  ScorePar4        77 non-null     float64
 23  ScorePar5        77 non-null     float64
 24  Top10            77 non-null     float64
 25  Wins             77 non-null     float64
 26  Top3             77 non-null     float64
 27  YearMoney        77 non-null     float64
 28  WorldRank        77 non-null     float64
 29  WorldRankPoints  77 non-null     float64
dtypes: float64(26), int64(1), object(3)
memory usage: 22.3+ KB

The following players in Masters field have some NaN values included.

In [64]:
masters_data[masters_data.isna().any(axis=1)]

,PLAYER NAME,OVERALL,TEE TIME,ODDS,DrivDist,DrivAcc,GIR,Prox,SandSave,Scram,...,ScoreAvg,ScorePar3,ScorePar4,ScorePar5,Top10,Wins,Top3,YearMoney,WorldRank,WorldRankPoints
2,Yuxin Lin,E,07:00:00,500,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Sandy Lyle,E,07:00:00,500,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Cheng Tsung Pan,E,07:00:00,500,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Jazz Janewattananond,E,07:11:00,500,285.0,65.00,72.22,41.33,37.50,36.67,...,NaN,3.00,4.18,4.75,0.0,0.0,0.0,15520.0,73.0,1.90
15,Lukas Michel,E,07:22:00,500,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Larry Mize,E,07:22:00,500,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,Abel Gallegos,E,07:55:00,500,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Andy Ogletree,E,07:55:00,500,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,Vijay Singh,E,08:06:00,500,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,Matt Wallace,E,08:17:00,200,315.6,44.64,63.89,49.25,28.57,38.46,...,69.664,3.63,4.15,4.75,0.0,0.0,0.0,39275.0,52.0,2.34
47,Mike Weir,E,08:17:00,500,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,Justin Harding,E,11:05:00,500,293.3,48.75,60.19,40.25,25.00,41.86,...,NaN,3.21,4.20,4.63,0.0,0.0,0.0,29750.0,133.0,1.22
49,Shugo Imahira,E,11:05:00,500,289.1,55.56,54.17,45.17,25.00,43.94,...,NaN,3.22,4.29,4.64,0.0,0.0,0.0,40461.0,75.0,1.83
54,John Augenstein,E,11:16:00,500,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,Bernd Wiesberger,E,11:27:00,250,296.5,39.29,54.17,46.00,25.00,39.39,...,NaN,3.44,4.21,4.75,0.0,0.0,0.0,39275.0,37.0,2.86
71,Christiaan Bezuidenhout,E,11:49:00,350,301.8,41.07,40.28,42.92,70.00,48.84,...,NaN,3.19,4.31,5.25,0.0,0.0,0.0,27461.0,59.0,2.10
74,Bernhard Langer,E,11:49:00,500,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,Fred Couples,E,12:00:00,500,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85,José María Olazábal,E,12:11:00,500,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88,James Sugrue,E,12:11:00,500,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90,Victor Perez,E,12:22:00,350,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [65]:
masters_data.to_csv('MastersData.csv')