<a href="https://colab.research.google.com/github/grizzler88/Springboard/blob/master/Capstone%20-%20Fantasy%20Draft%20Strategy/FantasyNFL_Capstone_DataWrangling_FINAL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Fantasy NFL Capstone (Step 1 - Data Wrangling)

## Data Collection

For this project, I will be using data from the website League Station. This data provides information on NFL player fantasy performance for the 2015, 2016, 2017, 2018 and 2019 NFL seasons.

In the following sections, I will load the data sources and merge them together.

In [1]:
import pandas as pd
import os
import datetime
import matplotlib.pyplot as plt
import numpy as np

In [2]:
#os.getcwd()
#os.listdir()

In [3]:
path = 'League Station - NFL Player Data 2015-2018.xlsx'
df1 = pd.read_excel(path, 'Data')
#df1.head()

In [4]:
df1.shape

(19004, 40)

In [5]:
path2 = 'League Station - NFL Player Data 2019.xlsx'
df2 = pd.read_excel(path2, 'Data')
#df2.tail()

In [6]:
df2.shape

(4711, 40)

### Appending Data Frames

In [7]:
df = df1.append(df2)

In [8]:
df.shape

(23715, 40)

### Column Matching

Running for loop to see if all columns in df1 match with columns in df2.

In [9]:
df1_cols = list(df1.columns)
df2_cols = list(df2.columns)

# Checking to see if all column names match
i = 0
for col in df1_cols:
    if col == df2_cols[i]:
        i = i + 1
        continue
    else:
        print(str(i) + ' is a mismatch')
        i = i + 1

## Data Organisation

For all the various different datasets, notebooks and reports associated with this project, I have added a library to GitHub for them:

https://github.com/grizzler88/Springboard/tree/master/Capstone%20-%20Fantasy%20Draft%20Strategy

## Data Definition

In this section, I review the data types in the dataset and make changes to data as appropriate.

In [10]:
#df.info()

Reviewing data types shows that 'SEASON' is a 'int' data type although we will be using it as categorical variable. 

Below is to convert this column into a string value.

In [11]:
df['SEASON'] = df['SEASON'].astype(str)

In [12]:
#df.dtypes

## Data Cleaning

In this section, we will investigate the data more thoroughly to understand what changes are needed to make sure the data is as clean as possible before we analyse it further. 

We will start by using the describe() method to see the statitical makeup of our numeric columns, followed by doing a for loop to see how many unique values are in our object columns.

In [13]:
df.describe()

            FAN PTS      PASSCOMP  ...           FUM        FUMLST
count  23715.000000  23715.000000  ...  23715.000000  23715.000000
mean       7.019907      2.391061  ...      0.115370      0.055113
std        7.459098      7.033341  ...      0.376323      0.242538
min      -10.200000      0.000000  ...      0.000000      0.000000
25%        1.500000      0.000000  ...      0.000000      0.000000
50%        4.400000      0.000000  ...      0.000000      0.000000
75%       10.300000      0.000000  ...      0.000000      0.000000
max       58.300000     45.000000  ...      4.000000      3.000000

[8 rows x 19 columns]

In [14]:
for col in df:
    print(col + ' = ' + str(df[col].nunique()))

POS = 22
PLAYER = 1760
FAN PTS = 2278
TEAM = 32
HC = 63
OC = 76
DC = 62
H/A = 2
OPP = 32
OPP HC = 63
OPP OC = 76
OPP DC = 62
DATE = 251
SEASON = 5
WEEK = 17
MONTH = 5
DAY = 4
TIME = 5
ROOF = 2
SURFACE = 2
W/L = 3
SCORE = 972
PASSCOMP = 46
PASSATT = 67
PASSCOMP% = 397
PASSYDS = 443
PASSTD = 8
INT = 7
QBRAT = 1001
SACK = 12
SACKYDS = 70
RUSHATT = 38
RUSHYDS = 207
RUSHTD = 5
TGTS = 24
REC = 18
RECYDS = 220
RECTD = 5
FUM = 5
FUMLST = 4

### 'POS' Column Clean

This looks to have more variables than expected. I will look through this column to understand what is included here and make changes if necessary.

In [15]:
#df['POS'].unique()

In [16]:
df['POS'].value_counts()

WR    9197
RB    6416
TE    4352
QB    3015
FB     537
P       81
S       22
CB      16
DT      16
K       11
T       11
LB       8
DE       7
G        5
OT       5
LT       4
DB       3
C        3
OL       2
FS       2
LS       1
DL       1
Name: POS, dtype: int64

In [17]:
mapping = {'QB':'QB', 'RB':'RB', 'FB':'RB','WR':'WR', 'TE':'TE','P':'OTH','S':'OTH','DT':'OTH','CB':'OTH', 
           'K':'OTH','T':'OTH', 'LB':'OTH', 'DE':'OTH', 'OT':'OTH', 'G':'OTH', 'LT':'OTH', 'C':'OTH',
          'DB':'OTH', 'FS':'OTH', 'OL':'OTH','DL':'OTH','LS':'OTH'}


df['POS_AGG'] = df['POS'].replace(mapping)
#df['POS_AGG'].unique()

In [18]:
df['POS_AGG'].value_counts()

WR     9197
RB     6953
TE     4352
QB     3015
OTH     198
Name: POS_AGG, dtype: int64

In [19]:
df.shape

(23715, 41)

### Object For Loop

Ended up using this for loop throughout process so turned into a function to make it easier to access.

In [20]:
def object_col(df):

    '''
    This fucntion prints all columns that are object data types
    '''

    for col in df:
        if df[col].dtypes == 'object':
            print(col)
        else:
            continue

In [21]:
#object_col(df)

### 'PLAYER' column clean

Look at 'PLAYER' column to understand how it is structured and what adjustments are needed.

In [22]:
list(df['PLAYER'].unique())[0]

'Aaron Rodgers GNB - QB'

Split column with results in new column 'PLAYER_SPLIT'

In [23]:
df['PLAYER_SPLIT'] = df['PLAYER'].str.split()
#df['PLAYER_SPLIT']

Create new column 'PLAYER_SPLIT_LEN' to show how many indexes are in split. Then apply value_counts() to understand how best to transform into new fields you want.

In [24]:
PLAYER_SPLIT_LEN = []
for split in df['PLAYER_SPLIT']:
    no = len(split)
    PLAYER_SPLIT_LEN.append(no)
    
df['PLAYER_SPLIT_LEN'] = PLAYER_SPLIT_LEN
df['PLAYER_SPLIT_LEN'].value_counts()

5    23690
6       25
Name: PLAYER_SPLIT_LEN, dtype: int64

Create FOR loop to run through 'PLAYER_SPLIT' and based on length of split, decide how to assign to new name, team or position list. These lists are then assigned to Data Serieis in DataFrame.

In [25]:
new_name = []
new_team = []
new_position = []
for split in df['PLAYER_SPLIT']:
    if len(split) == 6:
        name = split[0] + ' ' + split[1] + ' ' + split[2]
        team = split[3]
        position = split[5]
        new_name.append(name)
        new_team.append(team)
        new_position.append(position)
    elif len(split) == 5:
        name = split[0] + ' ' + split[1]
        team = split[2]
        position = split[4]
        new_name.append(name)
        new_team.append(team)
        new_position.append(position)
    else:
        name = 'Unknown'
        team = 'N/A'
        position = 'N/A'
        new_name.append(name)
        new_team.append(team)
        new_position.append(position)

df['PLAYER_NAME'] = new_name
df['TEAM_ABV'] = new_team
df['POS_CHECK'] = new_position
#df.head()

Checking to make sure correct values got assigned with player names with lenght of 6.

In [26]:
#df[df['PLAYER_SPLIT_LEN'] == 6]

Dropping 'PLAYER', 'PLAYER_SPLIT' and 'PLAYER_SPLIT_LEN' columns as no longer needed.

In [27]:
df.drop(columns=['PLAYER', 'PLAYER_SPLIT_LEN', 'PLAYER_SPLIT'], inplace=True)
#df.head()

Checking to make sure positions columns match and dropping one column if duplicate.

In [28]:
(df['POS'] == df['POS_CHECK']).value_counts()

True    23715
dtype: int64

In [29]:
df.drop(columns=['POS_CHECK'], inplace=True)
#df.head()

### 'TEAM' Column Clean

In [30]:
#object_col(df)

Looking at two fields for team name shows that one has 32 uniques values vs 33. This is because the 'Chargers' moved from San Diego to LA in 2019 causing there to be a different 3-letter abbreviation in those years 'SDG' vs 'LAC'.

While it would be nice to change this and have full team names and correct abbreviation codes for all teams, in the interest of time efficiency, I have decided to drop 'TEAM_ABV' column and use 'TEAM' going forward.

In [31]:
list(df['TEAM'].unique())
df['TEAM'].nunique()

32

In [32]:
list(df['TEAM_ABV'].unique())
df['TEAM_ABV'].nunique()

33

In [33]:
team_test = df['TEAM'] + ' - ' + df['TEAM_ABV']
#list(team_test.unique())

In [34]:
df.drop(columns='TEAM_ABV', inplace=True)
#df.head()

Checking 'OPP' column too to see if similar to 'TEAM'. It is so not going make any changes.

In [35]:
list(df['OPP'].unique())
df['OPP'].nunique()

32

### Date and Stadium columns cleans

These columns seem fine for the moment. Only changes may want to add are:

* Week columns - change these to numerical

* Year columns - pull these from date fields

Also, thought crossed mind about how do we account for BYE weeks for players but can comeback to this at later point if needed by analysis.

In [36]:
#object_col(df)

In [37]:
df['DATE']

0      2018-12-30
1      2018-12-30
2      2018-12-30
3      2018-12-30
4      2018-12-30
          ...
4706   2019-09-08
4707   2019-09-09
4708   2019-09-08
4709   2019-09-08
4710   2019-09-08
Name: DATE, Length: 23715, dtype: datetime64[ns]

In [38]:
list(df['SEASON'].unique())

['2018', '2017', '2016', '2015', '2019']

In [39]:
list(df['MONTH'].unique())

['December', 'November', 'October', 'September', 'January']

In [40]:
list(df['WEEK'].unique())

['Week17',
 'Week16',
 'Week15',
 'Week14',
 'Week13',
 'Week12',
 'Week11',
 'Week10',
 'Week09',
 'Week08',
 'Week07',
 'Week06',
 'Week05',
 'Week04',
 'Week03',
 'Week02',
 'Week01']

In [41]:
list(df['DAY'].unique())

['Sunday', 'Saturday', 'Monday', 'Thursday']

In [42]:
list(df['TIME'].unique())

['Noon', 'Afternoon', 'Night', 'London', 'Mexico']

In [43]:
list(df['ROOF'].unique())

['Open', 'Dome']

In [44]:
list(df['SURFACE'].unique())

['Grass', 'Turf']

### 'SCORE' column clean

In [45]:
list(df['SCORE'].unique())
df['SCORE_SPLIT'] = df['SCORE'].str.split('-')

score_for = []
score_against = []
for split in df['SCORE_SPLIT']:
    pts_for = split[0]
    pts_agt = split[1]
    score_for.append(pts_for)
    score_against.append(pts_agt)

df['PTS_FOR'] = score_for
df['PTS_AGT'] = score_against

df['PTS_FOR'] = df['PTS_FOR'].astype('int')
df['PTS_AGT'] = df['PTS_AGT'].astype('int')

#df.dtypes
#df.head()

In [46]:
df.drop(columns=['SCORE_SPLIT', 'SCORE'], inplace=True)

In [47]:
#df.info()

### Null Value Check

Looking to see columns have null values. Dataset is clean.

In [48]:
df.isnull().values.any()

False

In [49]:
nas = pd.DataFrame(df.isnull().sum().sort_values(ascending=False)/len(df),columns = ['percent'])
pos = nas['percent'] == 0
#nas[pos]

### Calculate correct Fantasy Points

This fantasy football league has different scoring system to one applied in dataset. We need to create new fields to accurately calculate the fantasy points for each row of data. See below the scoring system.

https://drive.google.com/file/d/1ZQxs2epU_9OVmlzlwMKRu1Vp1IimFUIE/view?usp=sharing

Defense and Kickers are not included in dataset so we will not look to calculate these statistics.

#### Passing Fantasy point calculations

In [50]:
# Passing Fantasy point calculations
df['FAN_PASSYDS'] = (df['PASSYDS']/5)*0.2
df['FAN_PASSTD'] = df['PASSTD']*6
df['FAN_PASSYDS_300'] = df['PASSYDS'].apply(lambda x: 2 if x >= 300 else 0)
df['FAN_PASSYDS_400'] = df['PASSYDS'].apply(lambda x: 1 if x >= 400 else 0)
df['FAN_INT'] = df['INT']*-2
df['FAN_SACK'] = df['SACK']*-0.5
df['FAN_PASS_TOT'] = df[['FAN_PASSYDS', 'FAN_PASSTD', 'FAN_PASSYDS_300', 'FAN_PASSYDS_400', 'FAN_INT', 'FAN_SACK']].sum(axis=1)

#df[['PLAYER_NAME', 'PASSYDS', 'FAN_PASSYDS', 'POS_AGG'== 'QB']].head()

#df[df['POS_AGG'] == 'QB'].head()

#### Rushing Fantasy point calculations

In [51]:
df['FAN_RUSHYDS'] = df['RUSHYDS']*0.1
df['FAN_RUSHTD'] = df['RUSHTD']*6
df['FAN_RUSHYDS_100'] = df['RUSHYDS'].apply(lambda x: 2 if x >= 100 else 0)
df['FAN_RUSHYDS_200'] = df['RUSHYDS'].apply(lambda x: 1 if x >= 200 else 0)
df['FAN_FUMLST'] = df['FUMLST']*-2
df['FAN_RUSH_TOT'] = df[['FAN_RUSHYDS', 'FAN_RUSHTD', 'FAN_RUSHYDS_100', 'FAN_RUSHYDS_200', 'FAN_FUMLST']].sum(axis=1)

#df[df['POS_AGG'] == 'RB'].head()

#### Receiving Fantasy point calculations

In [52]:
df['FAN_RECYDS'] = df['RECYDS']*0.1
df['FAN_RECTD'] = df['RECTD']*6
df['FAN_RECYDS_100'] = df['RECYDS'].apply(lambda x: 2 if x >= 100 else 0)
df['FAN_RECYDS_200'] = df['RECYDS'].apply(lambda x: 1 if x >= 200 else 0)
df['FAN_REC_TOT'] = df[['FAN_RECYDS', 'FAN_RECTD', 'FAN_RECYDS_100', 'FAN_RECYDS_200']].sum(axis=1)

#df[df['POS_AGG'] == 'WR'].head()

#### Total Fantasy points

In [53]:
df['FAN_TOT'] = df[['FAN_PASS_TOT', 'FAN_RUSH_TOT', 'FAN_REC_TOT']].sum(axis=1)

df[['PLAYER_NAME', 'POS_AGG', 'FAN_PASS_TOT', 'FAN_RUSH_TOT', 'FAN_REC_TOT', 'FAN_TOT']].sample(n=10)

           PLAYER_NAME POS_AGG  ...  FAN_REC_TOT  FAN_TOT
8805       Marqise Lee      WR  ...          6.5     6.50
9674      Marvin Jones      WR  ...          7.6     7.60
4600     Kenneth Dixon      RB  ...          0.0    10.40
9116    Michael Thomas      WR  ...          8.9     8.90
1018       Golden Tate      WR  ...          1.1     1.10
4870   Jimmy Garoppolo      QB  ...          0.0    19.58
3059       Bobo Wilson      WR  ...          1.0    -1.00
14279    Carson Palmer      QB  ...          0.0     9.16
6990    Taylor Gabriel      WR  ...          5.8     7.30
15234      Eddie Royal      WR  ...          1.5     1.50

[10 rows x 6 columns]

#### Dropping original 'FAN PTS' column as no longer required

In [54]:
df.drop(columns='FAN PTS', inplace=True)

## Output data to CSV

In [55]:
df.shape

(23715, 60)

In [56]:
df.to_csv('NFL_FantasyData_2015_2019.csv')